__pycache__/*
*.pyc
.DS_Store
*.idea/
venv/
htmlcov/
.coverage
program.prof
test.log
foodppytest.sh
foodprunsim.sh
setup_conda.sh
loss.png
mygraph.png
result.csv
tfmodels/
*.swp
.credentials
credentials.json
dump.rdb
.credentials
credentials.json

